/* All the CSS related to answers Page*/
/* .answer {
    display: flex;
    flex-direction: row;
    border-bottom: #727272 1px solid;
}

.answerText {
    width: 75%;
}

.answerAuthor {
    margin-left: 5%;
}

.answer_author {
    color: green;
} */
