.btn {
    background: #ffffff;
    border: #000000 1px solid;
}


.order_button {
    border-radius: 8px; /* Rounder corners */
    text-align: center;
    color: #555; /* Darker text */
    cursor: pointer; /* Cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.order_button:hover {
    background-color: #9c9b9b; /* Lighter background on hover */
}

.order_selected {
    background: #007bff; /* Selected menu background color */
    color: white; /* Text color on selected */
}